################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AngularWithMVCSample/.vs
/AngularWithMVCSample/AngularWithMVCSample/bin
/AngularWithMVCSample/AngularWithMVCSample/obj
